/Mac Framework
/iOS Framework
/Build
/SwearKit.xcodeproj/xcuserdata/ben.xcuserdatad/xcdebugger
/SwearKit.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
/Src/.DS_Store
/Src/Framework Code/.DS_Store
